.project-list {
  margin-top: 1.5em;

  a {
    text-decoration: none;
    color: $grey-color-dark;
  }
}

.project-cell {
  background-color: gainsboro;
  padding: 0;
  border-radius: 4px;

  > h3 {
    margin: 0.5em;
    font-size: 1.4em;
  }
}

.project-image {
  text-align: center;
  height: 200px;
  overflow: hidden;

  > img {
    max-width: none !important;
    width: 100%;
    margin: 0 -100%;
    transition: width 200ms;
  }

  &:hover img {
    width: 110%;
  }
}

.project-content {
  margin-top: 1em;
}
