---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="about-me">
    <div class="row vertical-align">
      <div class="col-sm-3">
        <img src="/assets/alexandre_carlier2.jpeg" class="img-circle" max-height=200>
      </div>

      <div class="col-sm-9">
        <p>I'm a French & Swiss ML researcher. I graduated from École Centrale Paris, ETH Zurich and EPFL (prize for the best GPA).</p>
        <p>My master thesis on deep SVG representation learning has been accepted at the NeurIPS 2020 conference.</p>
        <p>Previously, I've interned in the research team of Amazon Prime Air, where I was working on single-shot anchor-free instance segmentation.</p>
        <p>I'm passionate about ML, Computer Vision, 2D and 3D graphics.</p>

        <a href="https://twitter.com/alxandrecarlier?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @alxandrecarlier</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

  </div>


  <h2 class="project-list-heading">Machine Learning posts</h2>
  <div class="row project-list">
    {% assign sorted_posts = (site.posts | sort: 'date') %}

    {%- for post in sorted_posts -%}

    <a href="{{ post.url | relative_url }}">
      <div class="col-sm-6 project-cell">
        <h3>{{ post.title | escape }}</h3>
        <div class="project-image">
          <img src="{{ site.baseurl }}/images/{{ post.slug }}/{{ post.image }}">
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>


  <h2 class="project-list-heading">Recent projects</h2>
  <div class="row project-list">
    {% assign sorted_projects = (site.projects | sort: 'priority') | reverse %}

<!--    <a href="{{ '/projects/litso/' | relative_url }}">
      <div class="col-sm-6 project-cell">
        <h3>Litso AI: 3D Talking-Head Synthesis</h3>
        <div class="project-image">
          <img src="{{ site.baseurl }}/images/litso/thumbnail.png">
        </div>
      </div>
    </a>-->

    <a href="https://blog.alexandrecarlier.com/deepsvg/">
      <div class="col-sm-6 project-cell">
        <h3>DeepSVG</h3>
        <div class="project-image">
          <img src="{{ site.baseurl }}/images/deepsvg/deepsvg_thumb.png">
        </div>
      </div>
    </a>

    {%- for project in sorted_projects -%}
    {% if project.visible != false %}
    <a href="{{ project.url | relative_url }}">
      <div class="col-sm-6 project-cell">
        <h3>{{ project.title | escape }}</h3>
        <div class="project-image">
          <img src="{{ site.baseurl }}/images/{{ project.slug }}/{{ project.image }}">
        </div>
      </div>
    </a>
    {%- endif -%}
    {%- endfor -%}
  </div>

  {{ content }}

</div>
